Nessa aula, aprenderemos alguns comandos SQL para operar com tabelas SQL.

Primeiramente, precisamos de um banco de dados teste. Para isso, utilizaremos a biblioteca mysql.connector (explicação na aula 2) e criaremos um banco de dados fictício.

In [ ]:
import mysql.connector