Na aula anterior, aprendemos a usar o pacote 'sqlite3' para tratar bases de dados pequenas. Nesta aula, veremos sobre o pacote 'mysql.connector', o qual serve para grandes projetos e oferece mais funcionalidades completas e complexas.

Diferentemente do 'sqlite3' o 'mysql.connector' requer instalação separadamente, através do comando 'pip install mysql-connector-python' em um terminal. Após a instalação, podemos importar a biblioteca e começar o trabalho.

Observação: É preciso ter o MySQL instalado no seu computador. Caso não o tenha, instale no link: 'https://dev.mysql.com/downloads/'.

In [61]:
import mysql.connector

Agora precisamos conectar-nos a um DataBase do MySQL. Para isso, é preciso informar seu usuário do MySQL, senha e o host do bando de dados, através do seguinte comando:

In [62]:
connector_teste = mysql.connector.connect(
  host="localhost",     # ENDEREÇO IP OU DOMÍNIO DO SERVIDOR SQL OU "LOCALHOST" CASO O BANCO DE DADOS SEJA LOCAl
  user="root",      # USUÁRIO
  password="matheus2006"   # SENHA
)

print(connector_teste)

<mysql.connector.connection.MySQLConnection object at 0x000002C9C6EC0510>

Caso não tenha um usuário, poderá criá-lo pelo comando: 'CREATE USER 'novo_usuario'@'localhost' IDENTIFIED BY 'senha_do_novo_usuario';' no servidor MySQL.

Para executar comandos SQL, precisamos criar um cursor com o comando "banco_de_dados.cursor()".

In [63]:
cursor_teste = connector_teste.cursor()

cursor_teste.execute('SHOW DATABASES')    # MOSTRA TODOS OS BANCOS DE DADOS DO SERVIDOR

for database in cursor_teste:
    print(database)

('biblioteca',)
('biblioteca_ifpr',)
('biblioteca_ifpr2',)
('biblioteca_ifpr3',)
('biblioteca_ifpr4',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

É possível se conectar ao bando de dados desejado diretamente pelo conector (caso queira):

In [64]:
# EXEMPLO:

"""
conector2 = mysql.connector.connect(
    host="servidor_sql",
    user="seu_usuário",
    password="sua_senha",
    database="banco_de_dados"
)
"""

'\nconector2 = mysql.connector.connect(\n    host="servidor_sql",\n    user="seu_usuário",\n    password="sua_senha",\n    database="banco_de_dados"\n)\n'

O código abaixo cria um banco de dados chamado "biblioteca", as tabelas "AUTORES", "EDITORAS" e "LIVROS" e seus respectivos relacionamentos:

In [65]:
conector = mysql.connector.connect(
    host="localhost",
    user="root",
    password="matheus2006",
)

cursor = conector.cursor()

cursor.execute('CREATE DATABASE IF NOT EXISTS biblioteca_IFPR4')
cursor.execute('USE biblioteca_IFPR4')

tabela_autores = """
CREATE TABLE IF NOT EXISTS AUTORES(
    COD_AUTOR INT AUTO_INCREMENT PRIMARY KEY,
    NOME VARCHAR(250) NOT NULL,
    ANO_NASCIMENTO INT,
    NACIONALIDADE VARCHAR(40)
)
"""

tabela_editoras = """
CREATE TABLE IF NOT EXISTS EDITORAS(
    COD_EDITORA INT AUTO_INCREMENT PRIMARY KEY,
    NOME VARCHAR(250) NOT NULL,
    LOCALIZACAO VARCHAR(200)
)
"""

tabela_livros = """
CREATE TABLE IF NOT EXISTS LIVROS(
    COD_LIVRO INT AUTO_INCREMENT PRIMARY KEY,
    NOME VARCHAR(50) NOT NULL,
    ANO INT NOT NULL,
    COD_AUTOR INT,
    COD_EDITORA INT,
    FOREIGN KEY (COD_AUTOR) REFERENCES AUTORES(COD_AUTOR),
    FOREIGN KEY (COD_EDITORA) REFERENCES EDITORAS(COD_EDITORA)
)
"""

cursor.execute(tabela_editoras)
cursor.execute(tabela_autores)
cursor.execute(tabela_livros)

cursor.execute('SHOW TABLES')   # VERIFICANDO SE AS TABELAS FORAM CRIADAS COM SUCESSO
for tabela in cursor:
    print(tabela)

('autores',)
('editoras',)
('livros',)

Podemos utilizar o comando "ALTER" para alterar tabelas. Digamos que eu queira adicionar uma coluna na tabela "AUTORES" para registrar a quantidade de livros publicados de cada autor:

In [ ]:
try:

    cursor.execute("ALTER TABLE AUTORES ADD COLUMN QTD_LIVROS INT")     # ALTERA A TABELA 'AUTORES' E ADICIONA A COLUNA 'QTD_LIVROS' (SE NÃO EXISTIR)
    cursor.execute('ALTER TABLE AUTORES DROP COLUMN QTD_LIVROS')        # ALTERA A TABELA 'AUTORES' E REMOVE A COLUNA 'QTD_LIVROS'

except:
    pass

Inserindo valores nas tabelas do banco de dados da biblioteca:

In [66]:
linhas_autores = """
    INSERT INTO AUTORES (NOME, ANO_NASCIMENTO, NACIONALIDADE)
    VALUES
    ('MIGUEL DE CERVANTES', 1547, 'ESPANHA'),
    ('WILLIAM SHAKESPEARE', 1564, 'REINO UNIDO'),
    ('GEORGE ORWELL', 1903, 'REINO UNIDO'),
    ('JANE AUSTEN', 1775, 'INGLATERRA'),
    ('GABRIEL GARCÍA MÁRQUEZ', 1927, 'COLÔMBIA'),
    ('F. SCOTT FITZGERALD', 1896, 'ESTADOS UNIDOS'),
    ('J.K. ROWLING', 1965, 'REINO UNIDO'),
    ('FIÓDOR DOSTOIÉVSKI', 1821, 'RÚSSIA'),
    ('J.D. SALINGER', 1919, 'ESTADOS UNIDOS')
"""    # INSERE ALGUNS AUTORES À TABELA

linhas_editoras = """
    INSERT INTO EDITORAS (NOME, LOCALIZACAO)
    VALUES
    ('EDITORIAL ESPASA-CALPE', 'MADRID, ESPANHA'),
    ('PENGUIN CLASSICS', 'LONDRES, REINO UNIDO'),
    ('COMPANHIA DAS LETRAS', 'SÃO PAULO, BRASIL'),
    ('MARTIN CLARET', 'SÃO PAULO, BRASIL'),
    ('RECORD', 'RIO DE JANEIRO, BRASIL'),
    ('L&PM', 'PORTO ALEGRE, BRASIL'),
    ('EDITORA ROCCO', 'RIO DE JANEIRO, BRASIL'),
    ('EDITORA 34', 'SÃO PAULO, BRASIL'),
    ('EDITORA DO AUTOR', 'NOVA YORK, EUA')
"""     # INSERE ALGUMAS EDITORAS À TABELA

linhas_livros = """
    INSERT INTO LIVROS (NOME, ANO, COD_AUTOR, COD_EDITORA)
    VALUES
    ('DOM QUIXOTE', 1605, 1, 1),
    ('ROMEU E JULIETA', 1597, 2, 2),
    ('1984', 1949, 3, 3),
    ('ORGULHO E PRECONCEITO', 1813, 4, 4),
    ('CEM ANOS DE SOLIDÃO', 1967, 5, 5),
    ('A REVOLUÇÃO DOS BICHOS', 1945, 3, 3),
    ('O GRANDE GATSBY', 1925, 6, 6),
    ('HARRY POTTER E A PEDRA FILOSOFAL', 1997, 7, 7),
    ('CRIME E CASTIGO', 1866, 8, 8),
    ('O APANHADOR NO CAMPO DE CENTEIO', 1951, 9, 9)
"""     # INSERE ALGUNS LIVROS À TABELA

cursor.execute(linhas_autores)
cursor.execute(linhas_editoras)
cursor.execute(linhas_livros)

conector.commit()   # COMITA (SALVA) AS ALTERAÇÕES

print('\nAutores:\n')
cursor.execute('SELECT * FROM AUTORES')
for autor in cursor:
    print(autor)

print('\nEditoras:\n')
cursor.execute('SELECT * FROM EDITORAS')
for editora in cursor:
    print(editora)

print('\nLivros:\n')
cursor.execute('SELECT * FROM LIVROS')
for livro in cursor:
    print(livro)

Autores:

(1, 'MIGUEL DE CERVANTES', 1547, 'ESPANHA')
(2, 'WILLIAM SHAKESPEARE', 1564, 'REINO UNIDO')
(3, 'GEORGE ORWELL', 1903, 'REINO UNIDO')
(4, 'JANE AUSTEN', 1775, 'INGLATERRA')
(5, 'GABRIEL GARCÍA MÁRQUEZ', 1927, 'COLÔMBIA')
(6, 'F. SCOTT FITZGERALD', 1896, 'ESTADOS UNIDOS')
(7, 'J.K. ROWLING', 1965, 'REINO UNIDO')
(8, 'FIÓDOR DOSTOIÉVSKI', 1821, 'RÚSSIA')
(9, 'J.D. SALINGER', 1919, 'ESTADOS UNIDOS')
(10, 'MIGUEL DE CERVANTES', 1547, 'ESPANHA')
(11, 'WILLIAM SHAKESPEARE', 1564, 'REINO UNIDO')
(12, 'GEORGE ORWELL', 1903, 'REINO UNIDO')
(13, 'JANE AUSTEN', 1775, 'INGLATERRA')
(14, 'GABRIEL GARCÍA MÁRQUEZ', 1927, 'COLÔMBIA')
(15, 'F. SCOTT FITZGERALD', 1896, 'ESTADOS UNIDOS')
(16, 'J.K. ROWLING', 1965, 'REINO UNIDO')
(17, 'FIÓDOR DOSTOIÉVSKI', 1821, 'RÚSSIA')
(18, 'J.D. SALINGER', 1919, 'ESTADOS UNIDOS')

Editoras:

(1, 'EDITORIAL ESPASA-CALPE', 'MADRID, ESPANHA')
(2, 'PENGUIN CLASSICS', 'LONDRES, REINO UNIDO')
(3, 'COMPANHIA DAS LETRAS', 'SÃO PAULO, BRASIL')
(4, 'MARTIN CLARET', 'SÃO PAULO, BRASIL')
(5, 'RECORD', 'RIO DE JANEIRO, BRASIL')
(6, 'L&PM', 'PORTO ALEGRE, BRASIL')
(7, 'EDITORA ROCCO', 'RIO DE JANEIRO, BRASIL')
(8, 'EDITORA 34', 'SÃO PAULO, BRASIL')
(9, 'EDITORA DO AUTOR', 'NOVA YORK, EUA')
(10, 'EDITORIAL ESPASA-CALPE', 'MADRID, ESPANHA')
(11, 'PENGUIN CLASSICS', 'LONDRES, REINO UNIDO')
(12, 'COMPANHIA DAS LETRAS', 'SÃO PAULO, BRASIL')
(13, 'MARTIN CLARET', 'SÃO PAULO, BRASIL')
(14, 'RECORD', 'RIO DE JANEIRO, BRASIL')
(15, 'L&PM', 'PORTO ALEGRE, BRASIL')
(16, 'EDITORA ROCCO', 'RIO DE JANEIRO, BRASIL')
(17, 'EDITORA 34', 'SÃO PAULO, BRASIL')
(18, 'EDITORA DO AUTOR', 'NOVA YORK, EUA')

Livros:

(1, 'DOM QUIXOTE', 1605, 1, 1)
(2, 'ROMEU E JULIETA', 1597, 2, 2)
(3, '1984', 1949, 3, 3)
(4, 'ORGULHO E PRECONCEITO', 1813, 4, 4)
(5, 'CEM ANOS DE SOLIDÃO', 1967, 5, 5)
(6, 'A REVOLUÇÃO DOS BICHOS', 1945, 3, 3)
(7, 'O GRANDE GATSBY', 1925, 6, 6)
(8, 'HARRY POTTER E A PEDRA FILOSOFAL', 1997, 7, 7)
(9, 'CRIME E CASTIGO', 1866, 8, 8)
(10, 'O APANHADOR NO CAMPO DE CENTEIO', 1951, 9, 9)
(11, 'DOM QUIXOTE', 1605, 1, 1)
(12, 'ROMEU E JULIETA', 1597, 2, 2)
(13, '1984', 1949, 3, 3)
(14, 'ORGULHO E PRECONCEITO', 1813, 4, 4)
(15, 'CEM ANOS DE SOLIDÃO', 1967, 5, 5)
(16, 'A REVOLUÇÃO DOS BICHOS', 1945, 3, 3)
(17, 'O GRANDE GATSBY', 1925, 6, 6)
(18, 'HARRY POTTER E A PEDRA FILOSOFAL', 1997, 7, 7)
(19, 'CRIME E CASTIGO', 1866, 8, 8)
(20, 'O APANHADOR NO CAMPO DE CENTEIO', 1951, 9, 9)