Na aula anterior, aprendemos a usar o pacote 'sqlite3' para tratar bases de dados pequenas. Nesta aula, veremos sobre o pacote 'mysql.connector', o qual serve para grandes projetos e oferece mais funcionalidades completas e complexas.

Diferentemente do 'sqlite3' o 'mysql.connector' requer instalação separadamente, através do comando 'pip install mysql-connector-python' em um terminal. Após a instalação, podemos importar a biblioteca e começar o trabalho.

Observação: É preciso ter o MySQL instalado no seu computador. Caso não o tenha, instale no link: 'https://dev.mysql.com/downloads/'.

In [15]:
import mysql.connector

Agora precisamos conectar-nos a um DataBase do MySQL. Para isso, é preciso informar seu usuário do MySQL, senha e o host do bando de dados, através do seguinte comando:

In [16]:
connector_teste = mysql.connector.connect(
  host="localhost",     # ENDEREÇO IP OU DOMÍNIO DO SERVIDOR SQL OU "LOCALHOST" CASO O BANCO DE DADOS SEJA LOCAl
  user="root",      # USUÁRIO
  password="matheus2006"   # SENHA
)

print(connector_teste)

<mysql.connector.connection.MySQLConnection object at 0x000001AFE02F6250>

Caso não tenha um usuário, poderá criá-lo pelo comando: 'CREATE USER 'novo_usuario'@'localhost' IDENTIFIED BY 'senha_do_novo_usuario';' no servidor MySQL.

Para executar comandos SQL, precisamos criar um cursor com o comando "banco_de_dados.cursor()".

In [17]:
cursor_teste = connector_teste.cursor()

cursor_teste.execute('SHOW DATABASES')    # MOSTRA TODOS OS BANCOS DE DADOS DO SERVIDOR

for database in cursor_teste:
    print(database)

('biblioteca',)
('biblioteca_ifpr',)
('biblioteca_ifpr2',)
('biblioteca_ifpr3',)
('biblioteca_ifpr4',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

É possível se conectar ao bando de dados desejado diretamente pelo conector (caso queira):

In [18]:
# EXEMPLO:

"""
conector2 = mysql.connector.connect(
    host="servidor_sql",
    user="seu_usuário",
    password="sua_senha",
    database="banco_de_dados"
)
"""

'\nconector2 = mysql.connector.connect(\n    host="servidor_sql",\n    user="seu_usuário",\n    password="sua_senha",\n    database="banco_de_dados"\n)\n'

O código abaixo cria um banco de dados chamado "biblioteca", as tabelas "AUTORES", "EDITORAS" e "LIVROS" e seus respectivos relacionamentos:

In [19]:
conector = mysql.connector.connect(
    host="localhost",
    user="root",
    password="matheus2006",
)

cursor = conector.cursor()

cursor.execute('CREATE DATABASE IF NOT EXISTS biblioteca_IFPR4')
print('\nCódigo do processo:', cursor.lastrowid)    # O ATRIBUTO "lastrowid" retorna um valor inteiro auto incrementado em relação ao último processo executado pelo cursor

cursor.execute('USE biblioteca_IFPR4')
print('\nUtilizando o banco de dados "biblioteca_IFPR4". Código do processo:', cursor.lastrowid)

tabela_autores = """
CREATE TABLE IF NOT EXISTS AUTORES(
    COD_AUTOR INT AUTO_INCREMENT PRIMARY KEY,
    NOME VARCHAR(250) NOT NULL,
    ANO_NASCIMENTO INT,
    NACIONALIDADE VARCHAR(40)
)
"""

tabela_editoras = """
CREATE TABLE IF NOT EXISTS EDITORAS(
    COD_EDITORA INT AUTO_INCREMENT PRIMARY KEY,
    NOME VARCHAR(250) NOT NULL,
    LOCALIZACAO VARCHAR(200)
)
"""

tabela_livros = """
CREATE TABLE IF NOT EXISTS LIVROS(
    COD_LIVRO INT AUTO_INCREMENT PRIMARY KEY,
    NOME VARCHAR(50) NOT NULL,
    ANO INT NOT NULL,
    COD_AUTOR INT,
    COD_EDITORA INT,
    FOREIGN KEY (COD_AUTOR) REFERENCES AUTORES(COD_AUTOR),
    FOREIGN KEY (COD_EDITORA) REFERENCES EDITORAS(COD_EDITORA)
)
"""

cursor.execute(tabela_editoras)
print('\nTabela dos editores criada com sucesso. Código do processo:', cursor.lastrowid)

cursor.execute(tabela_autores)
print('\nTabela dos autores criada com sucesso. Código do processo:', cursor.lastrowid)

cursor.execute(tabela_livros)
print('\nTabela dos livros criada com sucesso. Código do processo:', cursor.lastrowid)

cursor.execute('SHOW TABLES')   # VERIFICANDO SE AS TABELAS FORAM CRIADAS COM SUCESSO
print('\nMostrando as tabelas. Código do processo:', cursor.lastrowid)

for tabela in cursor:
    print(tabela)

Código do processo: 0

Utilizando o banco de dados "biblioteca_IFPR4". Código do processo: 0

Tabela dos editores criada com sucesso. Código do processo: 0

Tabela dos autores criada com sucesso. Código do processo: 0

Tabela dos livros criada com sucesso. Código do processo: 0

Mostrando as tabelas. Código do processo: 0
('autores',)
('editoras',)
('livros',)

Podemos utilizar o comando "ALTER" para alterar tabelas. Digamos que eu queira adicionar uma coluna na tabela "AUTORES" para registrar a quantidade de livros publicados de cada autor:

In [20]:
try:

    cursor.execute("ALTER TABLE AUTORES ADD COLUMN QTD_LIVROS INT")     # ALTERA A TABELA 'AUTORES' E ADICIONA A COLUNA 'QTD_LIVROS' (SE NÃO EXISTIR)
    print('\nColuna "QTD_LIVROS" criada com sucesso. Código do processo:', cursor.lastrowid)

    cursor.execute('ALTER TABLE AUTORES DROP COLUMN QTD_LIVROS')        # ALTERA A TABELA 'AUTORES' E REMOVE A COLUNA 'QTD_LIVROS'
    print('\nColuna "QTD_LIVROS" removida com sucesso. Código do processo:', cursor.lastrowid)

except:
    pass

Coluna "QTD_LIVROS" criada com sucesso. Código do processo: 0

Coluna "QTD_LIVROS" removida com sucesso. Código do processo: 0

Inserindo valores nas tabelas do banco de dados da biblioteca:

In [21]:
linhas_autores = """
    INSERT INTO AUTORES (NOME, ANO_NASCIMENTO, NACIONALIDADE)
    VALUES
    ('MIGUEL DE CERVANTES', 1547, 'ESPANHA'),
    ('WILLIAM SHAKESPEARE', 1564, 'REINO UNIDO'),
    ('GEORGE ORWELL', 1903, 'REINO UNIDO'),
    ('JANE AUSTEN', 1775, 'INGLATERRA'),
    ('GABRIEL GARCÍA MÁRQUEZ', 1927, 'COLÔMBIA'),
    ('F. SCOTT FITZGERALD', 1896, 'ESTADOS UNIDOS'),
    ('J.K. ROWLING', 1965, 'REINO UNIDO'),
    ('FIÓDOR DOSTOIÉVSKI', 1821, 'RÚSSIA'),
    ('J.D. SALINGER', 1919, 'ESTADOS UNIDOS')
"""    # INSERE ALGUNS AUTORES À TABELA

linhas_editoras = """
    INSERT INTO EDITORAS (NOME, LOCALIZACAO)
    VALUES
    ('EDITORIAL ESPASA-CALPE', 'MADRID, ESPANHA'),
    ('PENGUIN CLASSICS', 'LONDRES, REINO UNIDO'),
    ('COMPANHIA DAS LETRAS', 'SÃO PAULO, BRASIL'),
    ('MARTIN CLARET', 'SÃO PAULO, BRASIL'),
    ('RECORD', 'RIO DE JANEIRO, BRASIL'),
    ('L&PM', 'PORTO ALEGRE, BRASIL'),
    ('EDITORA ROCCO', 'RIO DE JANEIRO, BRASIL'),
    ('EDITORA 34', 'SÃO PAULO, BRASIL'),
    ('EDITORA DO AUTOR', 'NOVA YORK, EUA')
"""     # INSERE ALGUMAS EDITORAS À TABELA

linhas_livros = """
    INSERT INTO LIVROS (NOME, ANO, COD_AUTOR, COD_EDITORA)
    VALUES
    ('DOM QUIXOTE', 1605, 1, 1),
    ('ROMEU E JULIETA', 1597, 2, 2),
    ('1984', 1949, 3, 3),
    ('ORGULHO E PRECONCEITO', 1813, 4, 4),
    ('CEM ANOS DE SOLIDÃO', 1967, 5, 5),
    ('A REVOLUÇÃO DOS BICHOS', 1945, 3, 3),
    ('O GRANDE GATSBY', 1925, 6, 6),
    ('HARRY POTTER E A PEDRA FILOSOFAL', 1997, 7, 7),
    ('CRIME E CASTIGO', 1866, 8, 8),
    ('O APANHADOR NO CAMPO DE CENTEIO', 1951, 9, 9)
"""     # INSERE ALGUNS LIVROS À TABELA

cursor.execute(linhas_autores)
print('\nAutores inseridos com sucesso. Código do processo:', cursor.lastrowid)

cursor.execute(linhas_editoras)
print('\nEditoras inseridas com sucesso. Código do processo:', cursor.lastrowid)

cursor.execute(linhas_livros)
print('\nLivros inseridos com sucesso. Código do processo:', cursor.lastrowid)

conector.commit()   # COMITA (SALVA) AS ALTERAÇÕES

print('\nAutores:\n')
cursor.execute('SELECT * FROM AUTORES')
for autor in cursor:
    print(autor)

print('\nEditoras:\n')
cursor.execute('SELECT * FROM EDITORAS')
for editora in cursor:
    print(editora)

print('\nLivros:\n')
cursor.execute('SELECT * FROM LIVROS')
for livro in cursor:
    print(livro)

Autores inseridos com sucesso. Código do processo: 37

Editoras inseridas com sucesso. Código do processo: 37

Livros inseridos com sucesso. Código do processo: 41

Autores:

(1, 'MIGUEL DE CERVANTES', 1547, 'ESPANHA')
(2, 'WILLIAM SHAKESPEARE', 1564, 'REINO UNIDO')
(3, 'GEORGE ORWELL', 1903, 'REINO UNIDO')
(4, 'JANE AUSTEN', 1775, 'INGLATERRA')
(5, 'GABRIEL GARCÍA MÁRQUEZ', 1927, 'COLÔMBIA')
(6, 'F. SCOTT FITZGERALD', 1896, 'ESTADOS UNIDOS')
(7, 'J.K. ROWLING', 1965, 'REINO UNIDO')
(8, 'FIÓDOR DOSTOIÉVSKI', 1821, 'RÚSSIA')
(9, 'J.D. SALINGER', 1919, 'ESTADOS UNIDOS')
(10, 'MIGUEL DE CERVANTES', 1547, 'ESPANHA')
(11, 'WILLIAM SHAKESPEARE', 1564, 'REINO UNIDO')
(12, 'GEORGE ORWELL', 1903, 'REINO UNIDO')
(13, 'JANE AUSTEN', 1775, 'INGLATERRA')
(14, 'GABRIEL GARCÍA MÁRQUEZ', 1927, 'COLÔMBIA')
(15, 'F. SCOTT FITZGERALD', 1896, 'ESTADOS UNIDOS')
(16, 'J.K. ROWLING', 1965, 'REINO UNIDO')
(17, 'FIÓDOR DOSTOIÉVSKI', 1821, 'RÚSSIA')
(18, 'J.D. SALINGER', 1919, 'ESTADOS UNIDOS')
(19, 'MIGUEL DE CERVANTES', 1547, 'ESPANHA')
(20, 'WILLIAM SHAKESPEARE', 1564, 'REINO UNIDO')
(21, 'GEORGE ORWELL', 1903, 'REINO UNIDO')
(22, 'JANE AUSTEN', 1775, 'INGLATERRA')
(23, 'GABRIEL GARCÍA MÁRQUEZ', 1927, 'COLÔMBIA')
(24, 'F. SCOTT FITZGERALD', 1896, 'ESTADOS UNIDOS')
(25, 'J.K. ROWLING', 1965, 'REINO UNIDO')
(26, 'FIÓDOR DOSTOIÉVSKI', 1821, 'RÚSSIA')
(27, 'J.D. SALINGER', 1919, 'ESTADOS UNIDOS')
(28, 'MIGUEL DE CERVANTES', 1547, 'ESPANHA')
(29, 'WILLIAM SHAKESPEARE', 1564, 'REINO UNIDO')
(30, 'GEORGE ORWELL', 1903, 'REINO UNIDO')
(31, 'JANE AUSTEN', 1775, 'INGLATERRA')
(32, 'GABRIEL GARCÍA MÁRQUEZ', 1927, 'COLÔMBIA')
(33, 'F. SCOTT FITZGERALD', 1896, 'ESTADOS UNIDOS')
(34, 'J.K. ROWLING', 1965, 'REINO UNIDO')
(35, 'FIÓDOR DOSTOIÉVSKI', 1821, 'RÚSSIA')
(36, 'J.D. SALINGER', 1919, 'ESTADOS UNIDOS')
(37, 'MIGUEL DE CERVANTES', 1547, 'ESPANHA')
(38, 'WILLIAM SHAKESPEARE', 1564, 'REINO UNIDO')
(39, 'GEORGE ORWELL', 1903, 'REINO UNIDO')
(40, 'JANE AUSTEN', 1775, 'INGLATERRA')
(41, 'GABRIEL GARCÍA MÁRQUEZ', 1927, 'COLÔMBIA')
(42, 'F. SCOTT FITZGERALD', 1896, 'ESTADOS UNIDOS')
(43, 'J.K. ROWLING', 1965, 'REINO UNIDO')
(44, 'FIÓDOR DOSTOIÉVSKI', 1821, 'RÚSSIA')
(45, 'J.D. SALINGER', 1919, 'ESTADOS UNIDOS')

Editoras:

(1, 'EDITORIAL ESPASA-CALPE', 'MADRID, ESPANHA')
(2, 'PENGUIN CLASSICS', 'LONDRES, REINO UNIDO')
(3, 'COMPANHIA DAS LETRAS', 'SÃO PAULO, BRASIL')
(4, 'MARTIN CLARET', 'SÃO PAULO, BRASIL')
(5, 'RECORD', 'RIO DE JANEIRO, BRASIL')
(6, 'L&PM', 'PORTO ALEGRE, BRASIL')
(7, 'EDITORA ROCCO', 'RIO DE JANEIRO, BRASIL')
(8, 'EDITORA 34', 'SÃO PAULO, BRASIL')
(9, 'EDITORA DO AUTOR', 'NOVA YORK, EUA')
(10, 'EDITORIAL ESPASA-CALPE', 'MADRID, ESPANHA')
(11, 'PENGUIN CLASSICS', 'LONDRES, REINO UNIDO')
(12, 'COMPANHIA DAS LETRAS', 'SÃO PAULO, BRASIL')
(13, 'MARTIN CLARET', 'SÃO PAULO, BRASIL')
(14, 'RECORD', 'RIO DE JANEIRO, BRASIL')
(15, 'L&PM', 'PORTO ALEGRE, BRASIL')
(16, 'EDITORA ROCCO', 'RIO DE JANEIRO, BRASIL')
(17, 'EDITORA 34', 'SÃO PAULO, BRASIL')
(18, 'EDITORA DO AUTOR', 'NOVA YORK, EUA')
(19, 'EDITORIAL ESPASA-CALPE', 'MADRID, ESPANHA')
(20, 'PENGUIN CLASSICS', 'LONDRES, REINO UNIDO')
(21, 'COMPANHIA DAS LETRAS', 'SÃO PAULO, BRASIL')
(22, 'MARTIN CLARET', 'SÃO PAULO, BRASIL')
(23, 'RECORD', 'RIO DE JANEIRO, BRASIL')
(24, 'L&PM', 'PORTO ALEGRE, BRASIL')
(25, 'EDITORA ROCCO', 'RIO DE JANEIRO, BRASIL')
(26, 'EDITORA 34', 'SÃO PAULO, BRASIL')
(27, 'EDITORA DO AUTOR', 'NOVA YORK, EUA')
(28, 'EDITORIAL ESPASA-CALPE', 'MADRID, ESPANHA')
(29, 'PENGUIN CLASSICS', 'LONDRES, REINO UNIDO')
(30, 'COMPANHIA DAS LETRAS', 'SÃO PAULO, BRASIL')
(31, 'MARTIN CLARET', 'SÃO PAULO, BRASIL')
(32, 'RECORD', 'RIO DE JANEIRO, BRASIL')
(33, 'L&PM', 'PORTO ALEGRE, BRASIL')
(34, 'EDITORA ROCCO', 'RIO DE JANEIRO, BRASIL')
(35, 'EDITORA 34', 'SÃO PAULO, BRASIL')
(36, 'EDITORA DO AUTOR', 'NOVA YORK, EUA')
(37, 'EDITORIAL ESPASA-CALPE', 'MADRID, ESPANHA')
(38, 'PENGUIN CLASSICS', 'LONDRES, REINO UNIDO')
(39, 'COMPANHIA DAS LETRAS', 'SÃO PAULO, BRASIL')
(40, 'MARTIN CLARET', 'SÃO PAULO, BRASIL')
(41, 'RECORD', 'RIO DE JANEIRO, BRASIL')
(42, 'L&PM', 'PORTO ALEGRE, BRASIL')
(43, 'EDITORA ROCCO', 'RIO DE JANEIRO, BRASIL')
(44, 'EDITORA 34', 'SÃO PAULO, BRASIL')
(45, 'EDITORA DO AUTOR', 'NOVA YORK, EUA')

Livros:

(1, 'DOM QUIXOTE', 1605, 1, 1)
(2, 'ROMEU E JULIETA', 1597, 2, 2)
(3, '1984', 1949, 3, 3)
(4, 'ORGULHO E PRECONCEITO', 1813, 4, 4)
(5, 'CEM ANOS DE SOLIDÃO', 1967, 5, 5)
(6, 'A REVOLUÇÃO DOS BICHOS', 1945, 3, 3)
(7, 'O GRANDE GATSBY', 1925, 6, 6)
(8, 'HARRY POTTER E A PEDRA FILOSOFAL', 1997, 7, 7)
(9, 'CRIME E CASTIGO', 1866, 8, 8)
(10, 'O APANHADOR NO CAMPO DE CENTEIO', 1951, 9, 9)
(11, 'DOM QUIXOTE', 1605, 1, 1)
(12, 'ROMEU E JULIETA', 1597, 2, 2)
(13, '1984', 1949, 3, 3)
(14, 'ORGULHO E PRECONCEITO', 1813, 4, 4)
(15, 'CEM ANOS DE SOLIDÃO', 1967, 5, 5)
(16, 'A REVOLUÇÃO DOS BICHOS', 1945, 3, 3)
(17, 'O GRANDE GATSBY', 1925, 6, 6)
(18, 'HARRY POTTER E A PEDRA FILOSOFAL', 1997, 7, 7)
(19, 'CRIME E CASTIGO', 1866, 8, 8)
(20, 'O APANHADOR NO CAMPO DE CENTEIO', 1951, 9, 9)
(21, 'DOM QUIXOTE', 1605, 1, 1)
(22, 'ROMEU E JULIETA', 1597, 2, 2)
(23, '1984', 1949, 3, 3)
(24, 'ORGULHO E PRECONCEITO', 1813, 4, 4)
(25, 'CEM ANOS DE SOLIDÃO', 1967, 5, 5)
(26, 'A REVOLUÇÃO DOS BICHOS', 1945, 3, 3)
(27, 'O GRANDE GATSBY', 1925, 6, 6)
(28, 'HARRY POTTER E A PEDRA FILOSOFAL', 1997, 7, 7)
(29, 'CRIME E CASTIGO', 1866, 8, 8)
(30, 'O APANHADOR NO CAMPO DE CENTEIO', 1951, 9, 9)
(31, 'DOM QUIXOTE', 1605, 1, 1)
(32, 'ROMEU E JULIETA', 1597, 2, 2)
(33, '1984', 1949, 3, 3)
(34, 'ORGULHO E PRECONCEITO', 1813, 4, 4)
(35, 'CEM ANOS DE SOLIDÃO', 1967, 5, 5)
(36, 'A REVOLUÇÃO DOS BICHOS', 1945, 3, 3)
(37, 'O GRANDE GATSBY', 1925, 6, 6)
(38, 'HARRY POTTER E A PEDRA FILOSOFAL', 1997, 7, 7)
(39, 'CRIME E CASTIGO', 1866, 8, 8)
(40, 'O APANHADOR NO CAMPO DE CENTEIO', 1951, 9, 9)
(41, 'DOM QUIXOTE', 1605, 1, 1)
(42, 'ROMEU E JULIETA', 1597, 2, 2)
(43, '1984', 1949, 3, 3)
(44, 'ORGULHO E PRECONCEITO', 1813, 4, 4)
(45, 'CEM ANOS DE SOLIDÃO', 1967, 5, 5)
(46, 'A REVOLUÇÃO DOS BICHOS', 1945, 3, 3)
(47, 'O GRANDE GATSBY', 1925, 6, 6)
(48, 'HARRY POTTER E A PEDRA FILOSOFAL', 1997, 7, 7)
(49, 'CRIME E CASTIGO', 1866, 8, 8)
(50, 'O APANHADOR NO CAMPO DE CENTEIO', 1951, 9, 9)

Ops. Ao rodar o código mais de uma vez (como eu fiz), as informações são repetidas. Para resolver isso, podemos usar o comando DISTINCT:

In [24]:
novos_autores = "CREATE TABLE IF NOT EXISTS NOVOS_AUTORES AS SELECT DISTINCT * FROM AUTORES"
novas_editoras = "CREATE TABLE IF NOT EXISTS NOVAS_EDITORAS AS SELECT DISTINCT * FROM EDITORAS"
novos_livros = "CREATE TABLE IF NOT EXISTS NOVOS_LIVROS AS SELECT DISTINCT * FROM LIVROS"

cursor.execute(novos_autores)
cursor.execute(novas_editoras)
cursor.execute(novos_livros)

try:
    cursor.execute('ALTER TABLE NOVOS_AUTORES ADD COLUMN COD_AUTOR INT AUTO_INCREMENT PRIMARY KEY')
    cursor.execute('ALTER TABLE NOVAS_EDITORAS ADD COLUMN COD_EDITORA INT AUTO_INCREMENT PRIMARY KEY')
    cursor.execute('ALTER TABLE NOVOS_LIVROS ADD COLUMN COD_LIVRO INT AUTO_INCREMENT PRIMARY KEY')      # ARRUMA O AUTO_INCREMENT DAS NOVAS TABELAS

except:
    pass

cursor.execute('DROP TABLE LIVROS')     # DELETANDO AS TABELAS COM AS INFORMAÇÕES REPETIDAS
cursor.execute('DROP TABLE EDITORAS')
cursor.execute('DROP TABLE AUTORES')

cursor.execute('SHOW TABLES')
tabelas = cursor.fetchall()     # O MÉTODO '.fechall()' COLETA OS RESULTADOS DE UMA CONSULTA SQL. GERALMENTE USADO PARA RECUPERAR O RESULTADO DA CONSULTA ATRAVÉS DO COMANDO 'SELECT'

print('\nTabelas do banco de dados da biblioteca:\n')
for tabela in tabelas:
    print(tabela)

('novas_editoras',)
('novos_autores',)
('novos_livros',)

In [28]:
inserir_livros = "INSERT INTO NOVOS_LIVROS (NOME, ANO, COD_AUTOR, COD_EDITORA) VALUES (%s, %s, %s, %s)"     # STRING PARA INSERÇÃO GENÉRICA DE VALORES À TABELA LIVROS. PODE SER USADA NOVAMENTE
livros_shakespeare = [
    ('HAMLET', 1600, 2, 7),
    ('MACBETH', 1605, 2, 2),
    ('SONHO DE UMA NOITE DE VERÃO', 1595, 2, 1),
    ('REI LEAR', 1606, 2, 2),
    ('O MERCADOR DE VENEZA', 1597, 2, 3)
]   # LISTA DE TUPLAS CONTENDO AS INFORMAÇÕES DE ALGUNS LIVROS DE WILLIAN SHAKESPEARE PARA A INSERÇÃO PELO MARCADOR DE POSIÇÃO '%s"

cursor.executemany(inserir_livros, livros_shakespeare)      # O MÉTODO '.executemany()' REQUER 2 PARÂMETROS: A STRING CONTENDO O COMANDO SQL E A LISTA DE SEQUÊNCIAS (GERALMENTE UMA LISTA DE TUPLAS). ÚTIL PARA INSERIR DADOS UTILIZANDO COMANDOS PRÉ-DEFINIDOS COMO A VARIÁVEL "inserir_livros". ESSA VARIÁVEL PODE SER USADA VÁRIAS VEZES PARA INSERIR NOVOS LIVROS À TABELA NOVOS_LIVROS, FALTANDO SOMENTE A LISTA DE TUPLAS COM AS INFORMAÇÕES DOS LIVROS NA ORDEM: NOME, ANO, CÓDIGO DO AUTOR E CÓDIGO DA EDITORA. É IMPORTANTE LEMBRAR QUE NÃO É NECESSÁRIO INSERIR A CHAVE-PRIMÁRIA, UMA VEZ QUE A MESMA É PREENCHIDA AUTOMATICAMENTE A CADA NOVO LIVRO ATRAVÉS DO AUTO_INCREMENT

print('\nA tabela NOVOS_LIVROS foi atualizada. Confira:\n')

cursor.execute('SELECT * FROM NOVOS_LIVROS')
tabela = cursor.fetchall()
for linha in tabela:
    print(linha)

A tabela NOVOS_LIVROS foi atualizada. Confira:

(1, 'DOM QUIXOTE', 1605, 1, 1)
(2, 'ROMEU E JULIETA', 1597, 2, 2)
(3, '1984', 1949, 3, 3)
(4, 'ORGULHO E PRECONCEITO', 1813, 4, 4)
(5, 'CEM ANOS DE SOLIDÃO', 1967, 5, 5)
(6, 'A REVOLUÇÃO DOS BICHOS', 1945, 3, 3)
(7, 'O GRANDE GATSBY', 1925, 6, 6)
(8, 'HARRY POTTER E A PEDRA FILOSOFAL', 1997, 7, 7)
(9, 'CRIME E CASTIGO', 1866, 8, 8)
(10, 'O APANHADOR NO CAMPO DE CENTEIO', 1951, 9, 9)
(11, 'DOM QUIXOTE', 1605, 1, 1)
(12, 'ROMEU E JULIETA', 1597, 2, 2)
(13, '1984', 1949, 3, 3)
(14, 'ORGULHO E PRECONCEITO', 1813, 4, 4)
(15, 'CEM ANOS DE SOLIDÃO', 1967, 5, 5)
(16, 'A REVOLUÇÃO DOS BICHOS', 1945, 3, 3)
(17, 'O GRANDE GATSBY', 1925, 6, 6)
(18, 'HARRY POTTER E A PEDRA FILOSOFAL', 1997, 7, 7)
(19, 'CRIME E CASTIGO', 1866, 8, 8)
(20, 'O APANHADOR NO CAMPO DE CENTEIO', 1951, 9, 9)
(21, 'DOM QUIXOTE', 1605, 1, 1)
(22, 'ROMEU E JULIETA', 1597, 2, 2)
(23, '1984', 1949, 3, 3)
(24, 'ORGULHO E PRECONCEITO', 1813, 4, 4)
(25, 'CEM ANOS DE SOLIDÃO', 1967, 5, 5)
(26, 'A REVOLUÇÃO DOS BICHOS', 1945, 3, 3)
(27, 'O GRANDE GATSBY', 1925, 6, 6)
(28, 'HARRY POTTER E A PEDRA FILOSOFAL', 1997, 7, 7)
(29, 'CRIME E CASTIGO', 1866, 8, 8)
(30, 'O APANHADOR NO CAMPO DE CENTEIO', 1951, 9, 9)
(31, 'DOM QUIXOTE', 1605, 1, 1)
(32, 'ROMEU E JULIETA', 1597, 2, 2)
(33, '1984', 1949, 3, 3)
(34, 'ORGULHO E PRECONCEITO', 1813, 4, 4)
(35, 'CEM ANOS DE SOLIDÃO', 1967, 5, 5)
(36, 'A REVOLUÇÃO DOS BICHOS', 1945, 3, 3)
(37, 'O GRANDE GATSBY', 1925, 6, 6)
(38, 'HARRY POTTER E A PEDRA FILOSOFAL', 1997, 7, 7)
(39, 'CRIME E CASTIGO', 1866, 8, 8)
(40, 'O APANHADOR NO CAMPO DE CENTEIO', 1951, 9, 9)
(41, 'DOM QUIXOTE', 1605, 1, 1)
(42, 'ROMEU E JULIETA', 1597, 2, 2)
(43, '1984', 1949, 3, 3)
(44, 'ORGULHO E PRECONCEITO', 1813, 4, 4)
(45, 'CEM ANOS DE SOLIDÃO', 1967, 5, 5)
(46, 'A REVOLUÇÃO DOS BICHOS', 1945, 3, 3)
(47, 'O GRANDE GATSBY', 1925, 6, 6)
(48, 'HARRY POTTER E A PEDRA FILOSOFAL', 1997, 7, 7)
(49, 'CRIME E CASTIGO', 1866, 8, 8)
(50, 'O APANHADOR NO CAMPO DE CENTEIO', 1951, 9, 9)
(0, 'HAMLET', 1600, 2, 7)
(0, 'MACBETH', 1605, 2, 2)
(0, 'SONHO DE UMA NOITE DE VERÃO', 1595, 2, 1)
(0, 'REI LEAR', 1606, 2, 2)
(0, 'O MERCADOR DE VENEZA', 1597, 2, 3)
(0, 'HAMLET', 1600, 2, 7)
(0, 'MACBETH', 1605, 2, 2)
(0, 'SONHO DE UMA NOITE DE VERÃO', 1595, 2, 1)
(0, 'REI LEAR', 1606, 2, 2)
(0, 'O MERCADOR DE VENEZA', 1597, 2, 3)